body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('https://media.nbcbayarea.com/images/WARRIORS+COURT.jpg');
  background-size: cover;
  font-size: 18px;  
  font-family: "Copperplate", Serif;
}
body, a:link, a:visited, a:active{
  color: blue;
}
.title{
  padding: 5px;
  float: left;
  background-color: lightblue;
}
.button{
  padding: 5px 12px;
  float: right;
  background-color: yellow;
  border-radius: 50px;
  margin: 5px;
}
.button:hover {
  background-color: blue;
  color: yellow;
}
.topbar{
  height: 32px;
}
.dancer{
  position: absolute;
}
#Stephen {
  margin-top: 100px;
  content: url('https://s3.amazonaws.com/user-media.venngage.com/891597-d22540758613b1eee33391f9d8a1733e.png');
}
#Stephen:hover{
  margin-top: 50px;
}
#Durant {
  content: url('https://qph.ec.quoracdn.net/main-qimg-f4eeb92f1b94b433f9c96d117566b065');
  margin-top: 0px;
  width: 350px;
  height: 500px;
}
#Durant:hover{
  margin-top: -150px;
}
#LeBron {
  content: url('http://i.imgur.com/tx9f5QD.png');
  width: 350px;
  height: 500px;
}
#LeBron:hover{
  margin-top: -300px;
}
#Kobe {
  margin-top: 50px;
  width: 200px;
  height: 400px;
  content: url('http://www.stickpng.com/assets/images/584564df7c25fb418d2c2996.png');
}
#Kobe:hover{
  margin-top: -300px;
}

#MJ {
  width: 300px;
  height: 450px;
  content: url('https://userscontent2.emaze.com/images/ba476dfa-0aae-4819-9bd1-f89bfbaf5f34/2f6600d3d2abb0496f9f3e1bf01eb435.png');
}
#MJ:hover{
  margin-top: -450px;
}
.lineUp {
  top: 500px;
}
.solids {
  content: url('http://rs234.pbsrc.com/albums/ee284/tammy_61/cutepop.gif~c200');
  margin-top: 150px;
  width: 200px;
  height: 300px;
}
#GSW {
  width: 100px;
  height: 100px;
  content: url('http://i.imgur.com/oyEgJ.png');
}
#Lakers {
  width: 150px;
  height: 100px;
  content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Los_Angeles_Lakers_logo.svg/1000px-Los_Angeles_Lakers_logo.svg.png');
}
#Cavs {
  width: 150px;
  height: 150px;
  content: url('https://upload.wikimedia.org/wikipedia/en/4/4b/Cleveland_Cavaliers_logo.svg');
}
#Bulls {
  content: url('https://upload.wikimedia.org/wikipedia/en/thumb/6/67/Chicago_Bulls_logo.svg/1015px-Chicago_Bulls_logo.svg.png');
  width: 150px;
  height: 150px;
}
