body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('https://media.nbcbayarea.com/images/WARRIORS+COURT.jpg');
  background-size: cover;
  font-size: 18px;  
  font-family: "Copperplate", Serif;
}
body, a:link, a:visited, a:active{
  color: blue;
}
.title{
  padding: 5px;
  float: left;
  background-color: lightblue;
}
.button{
  padding: 5px 12px;
  float: right;
  background-color: yellow;
  border-radius: 50px;
  margin: 5px;
}
.topbar{
  height: 32px;
}
.dancer{
  position: absolute;
}
#Stephen {
  margin-top: 100px;
  content: url('https://s3.amazonaws.com/user-media.venngage.com/891597-d22540758613b1eee33391f9d8a1733e.png');
}
#Durant {
  content: url('https://qph.ec.quoracdn.net/main-qimg-f4eeb92f1b94b433f9c96d117566b065');
  margin-bottom: 100px;
  width: 350px;
  height: 500px;
}
#LeBron {
  content: url('http://i.imgur.com/tx9f5QD.png');
  width: 350px;
  height: 500px;
}
#Kobe {
  margin-top: 50px;
  width: 300px;
  height: 450px;
  content: url('http://i607.photobucket.com/albums/tt157/bigheadkyle2/Player%20Cuts/NBA/kobebryant.png');
}
.lineUp {
  top: 500px;
}
.solids {
  content: url('http://rs234.pbsrc.com/albums/ee284/tammy_61/cutepop.gif~c200');
  margin-top: 150px;
  width: 200px;
  height: 300px;
}
#Lakers {
  width: 150px;
  height: 100px;
  content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Los_Angeles_Lakers_logo.svg/1000px-Los_Angeles_Lakers_logo.svg.png');
}
.rotate {

}
#GSW {
  width: 100px;
  height: 100px;
  content: url('http://i.imgur.com/oyEgJ.png');
}
#Cavs {
  width: 150px;
  height: 150px;
  content: url('https://upload.wikimedia.org/wikipedia/en/4/4b/Cleveland_Cavaliers_logo.svg');
}
